---
const services = [
{
  step: '01',
  name: 'Desarrollo de luminaria LED para sistema inteligente de iluminación',
  description:
    'Diseñar una luminaria con múltiples LED monocromáticos para control espectral. Equipada con sistema embebido recibiendo información de sensores espectrales vía comunicación inalámbrica de baja potencia y sensor infrarrojo para detección de presencia.',
},
{
  step: '02',
  name: 'Planteamiento de método de calibración para espectrómetro de baja resolución y bajo costo',
  description:
    'Desarrollo de método de calibración para longitud de onda y magnitud de espectrómetro de menos de 18 pixeles y bajo costo, utilizando sensores económicos y sistema embebido de bajo consumo.',
},
{
  step: '03',
  name: 'Estudio de técnicas de procesamiento de imágenes para comunicación con cámara óptica y modulación CSK',
  description:
    'Análisis de técnicas de procesamiento de imágenes para decodificar información en sistema de comunicación con cámara óptica mediante modulación CSK y método de rolling shutter. Mejora de técnicas previas, reduciendo complejidad del entrenamiento y procesamiento de imágenes.',
},
{
  step: '04',
  name: 'Desarrollo de sistema de comunicación con cámara óptica utilizando modulación OFDM',
  description:
    'Desarrollo de sistema de comunicación inalámbrica utilizando método de rolling shutter de cámara digital de dispositivo móvil y modulación OFDM. Aplicación en Android y modulación implementada en luminaria LED blanca con fósforo.',
},
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Tesis de grado para maestría</h2>
      <div class="grid gap-8 lg:grid-cols-4">
        {
          services.map((service) => (
            <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
              <p class="text-sm">{service.step}</p>
              <div class="flex flex-col gap-4">
                <h3 class="text-xl font-medium">{service.name}</h3>
                <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                  {service.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
